/**
 * uni-app 内置样式变量
 */
$uni-color-primary: #8a74e5;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

$uni-text-color: #ffffff;
$uni-text-color-inverse: #fff;
$uni-text-color-grey: #9a9a9a;
$uni-text-color-placeholder: #808080;
$uni-text-color-disable: #c0c0c0;

$uni-bg-color: #111111;
$uni-bg-color-grey: #1c1c1c;
$uni-bg-color-hover: #2a2a2a;
$uni-bg-color-mask: rgba(0, 0, 0, 0.4);

$uni-border-color: #2a2a2a;
